.component {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.component h4 {
    color: #FFC436;
    font-size: 30px;
    text-align: center;
    letter-spacing: 6px;
}

.component p {
    font-size: 19px;
    text-align: center;
}

.component img {
    width: 100%;
    min-width: 430px;
    border-radius: 10px;
}

.component section {
    width: 50%;
}

.component section:first-child {
    min-width: 430px;
}

.component section:last-child {
    padding: 10px 20px;
    min-width: 413px;
}