* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainSection {
    width: 85%;
    margin: 7px auto;
}
body{
    /* background-color: #504099; */
    /* background-color: #5C4B99; */
    /* background-color: #212868; */
    background-color: #212874;
}
p{
    color: #fff;
}