.container{
    margin: 100px 0;
}
.container h2 {
    font-size: 60px;
    color: #FF9B50;
    text-align: center;
}
.container h3{
    text-align: center;
    font-size: 50px;
    color: #fff;
    text-shadow: 5px 5px 6px #9400FF;
   
}